{% extends '::base.html.twig' %}

{% block page_title %}<span class="pro3x_small_icon pro3x_small_icon_dashboard"></span>Pro3x Online Dashboard{% endblock %}

{% block body %}
    <div class="grid_12">
	{% include '::message.html.twig' %}
	
	<div class="ui-widget ui-corner-all ui-widget-content pro3x_dashboard_panel_box">
	    <div class="ui-widget-header ui-corner-all pro3x_dashboard_panel_header">Sigurnosne postavke</div>
	    <div class="pro3x_dashboard_panel">
	
		<a class="button" href="{{ path('add_user', {'back': app.request.uri}) }}">
		    <span class="pro3x_icon pro3x_icon_user_add"></span>
		    Novi Korisnik
		</a>
		<a class="button" href="{{ path('users_list') }}">
		    <span class="pro3x_icon pro3x_icon_users"></span>
		    Popis Korisnika
		</a>
		<a class="button" href="{{ path('add_group', {'back': app.request.uri}) }}">
		    <span class="pro3x_icon pro3x_icon_group_add"></span>
		    Nova Grupa
		</a>
		<a class="button" href="{{ path('list_groups') }}">
		    <span class="pro3x_icon pro3x_icon_groups"></span>
		    Popis Grupa
		</a>
	    </div>
	</div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}