{% extends "::header.html.twig" %}

{% block menu %}
    {% include 'Pro3xInvoiceBundle:Invoice:invoice-mobile-print-actions.html.twig' %}
    {% if not(invoice.sequence or invoice.tenderSequence) %}
        <li class="visible-xs pro3x-customer-action"><a href="{{ path('change_invoice_customer', {'id': invoice.id, 'back': app.request.uri}) }}">{{ 'Izbor kupca'|trans }}</a></li>
    {% endif %}
{% endblock %}
