<div class="ui-widget pro3x_message">
    <div class="ui-state-highlight ui-corner-all" style="padding: 0 0.7em; margin-bottom: 1.5em;">
	<p>
	    <span class="ui-icon ui-icon-info" data-icon="ui-icon-info" style="float: left; margin-right: 0.3em;"></span>
		{% if invoiceNumber %}
			Izmjenjena oznaka originalnog računa. Nova oznaka originalnog računa postavljena: <b>{{ invoiceNumber }}</b>
		{% else %}
			Uklonjena oznaka originalnog računa.
		{% endif %}
	</p>
    </div>
</div>
