@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@import url("grid.css");

body 
    { font-size: 75%; font-family: 'Ubuntu', sans-serif; padding: 0px; margin: 0px; }

:focus 
    { outline: 0; }

.pro3x_buttons
    { text-align: right; }
    
.pro3x_table_buttons
    { text-align: left; }

.pro3x_form_content > div, form > div > div
    { margin-bottom: .5em; }

.pro3x_form_content > div > label, form > div > div > label
    { display: inline-block; width: 12em; }
    
form > div > div select
    { padding: 0.5em; margin-left: 0px; width: 31.5em; }
    
form label + ul
    { display: inline-block; color: red; }
   
form label + ul + input
    { margin-left: 12em; }

input[type=text], input[type=password], input[type=email]
    { padding: 0.5em; width: 30.2em; }

.pro3x_page_title
    { padding-left: 0.67em; font-weight: normal; }
    
.pro3x_page_title_box
    { margin-bottom: 2em; }
    
.pro3x_header
    { background-color: black; padding: 0.5em 0em 0.5em 16px; border-bottom: solid 3px #449adc; box-shadow: 0px 2px 2px gray; color: #efefef; }
    
.pro3x_header a
    { color: white; text-decoration: none; }
    
.pro3x_buttons .pro3x_info
    { float: left; margin-top: 0.5em; }
    
table.pro3x th, table.pro3x td
    { padding: 0.5em 1em; vertical-align: top; }
    
h1
    { margin-top: 1.5em; margin-bottom: 0.5em; }
    
.ui-widget-content a, a
    { color: #449adc; text-decoration: none; }
  
.ui-widget-content a:hover, a:hover
    { color: #99cc00; }

td.pro3x_tools a
    { display: inline-block; margin: 0 0.25em; font-weight: bold; }
    
table.pro3x tr:hover
    { background-color: #e0effc; }

table.pro3x
    { border-spacing: 1px; width: 100%; }
    
/* * * PAGER * * */  
  
.pro3x_pager
    { margin-top: 1em; display: inline-block; text-align: left; }
    
.pro3x_pager a
    { display: inline-block; margin: 0 0.1em; width: 16px; height: 16px; text-align: center; }

.pro3x_pager > span.pro3x_pager_previous, .pro3x_pager > span.pro3x_pager_next, .pro3x_pager > div.pro3x_pager_scroll
    { float: left; margin: 0 0.1em; position: relative; top: 3px; }
    
.pro3x_pager > span
    { cursor: pointer; }
    
.pro3x_current_page, .pro3x_current_page:hover
    { font-weight: bold; color: #222222; cursor: default; }
    
.pro3x_pager_scroll
    { float: left; overflow: hidden; width: 18em; border-left: solid 1px #449adc; border-right: solid 1px #449adc; }
    
.pro3x_pager_items
    { overflow: visible; white-space: nowrap; display: inline-block; }
    
/* * * DIALOG * * */

.pro3x_dialog
    { display: none; }
    
table.pro3x td.pro3x_no_data
    { padding: 2em; text-align: center; }
    
/* * * DASHBOARD * * */

.pro3x_dashboard_panel
    { padding: 0.5em; }
    
.pro3x_dashboard_panel_box
    { padding: 1px; margin-bottom: 2em; }
    
.pro3x_dashboard_panel_header
    { padding: 0.5em 0.75em; }
    
.pro3x_dashboard_panel .button
    { display: inline-block; width: 128px; }
  
.pro3x_icon
    { display: block; width: 64px; height: 64px; margin: 1em auto 1em auto; }
    
.pro3x_dialog .pro3x_icon
    { float: left; margin-right: 1.5em; margin-left: 0.5em; }
    
.pro3x_dialog .pro3x_message
    { padding: 1em 0em; }
  
.pro3x_icon_users
    { background-image: url("../bundles/pro3xapp/user.png"); }
    
.pro3x_icon_groups
    { background-image: url("../bundles/pro3xapp/group.png"); }
    
.pro3x_icon_user_add
    { background-image: url("../bundles/pro3xapp/user_add.png"); }

.pro3x_icon_user_delete
    { background-image: url("../bundles/pro3xapp/user_delete.png"); }

.pro3x_icon_group_add
    { background-image: url("../bundles/pro3xapp/group_add.png"); }    

.pro3x_icon_group_delete
    { background-image: url("../bundles/pro3xapp/group_delete.png"); }    
    
.pro3x_header ul
    { float: right; list-style: none; margin: 0em 16px 0em 0em; }

.pro3x_header ul li
    { float: left; margin: 0em 0em 0em 1em; }

.pro3x_small_icon
    { display: inline-block; width: 32px; height: 32px; vertical-align: text-bottom; margin: 0em 0.5em; }

 /* * * INVOICES * * */

.pro3x_icon_invoice
    { background-image: url("../bundles/pro3xapp/smart_phone.png"); } 

.pro3x_icon_invoice_add
    { background-image: url("../bundles/pro3xapp/smart_phone_add.png"); } 

.pro3x_icon_invoice_delete
    { background-image: url("../bundles/pro3xapp/smart_phone_delete.png"); } 
    
/* * * CLIENTS * * */

.pro3x_icon_client
    { background-image: url("../bundles/pro3xapp/client.png"); } 

.pro3x_icon_client_add
    { background-image: url("../bundles/pro3xapp/client_add.png"); } 

.pro3x_icon_client_delete
    { background-image: url("../bundles/pro3xapp/client_delete.png"); } 
    
.pro3x_small_icon_client
    { background-image: url("../bundles/pro3xapp/small/client.png"); } 

.pro3x_small_icon_client_add
    { background-image: url("../bundles/pro3xapp/small/client_add.png"); } 
    
.pro3x_small_icon_client_edit
    { background-image: url("../bundles/pro3xapp/small/client_edit.png"); } 

.pro3x_small_icon_client_delete
    { background-image: url("../bundles/pro3xapp/small/client_delete.png"); } 

/* * * INVENTORY * * */

.pro3x_icon_inventory
    { background-image: url("../bundles/pro3xapp/database.png"); } 

.pro3x_icon_inventory_add
    { background-image: url("../bundles/pro3xapp/database_add.png"); }  

.pro3x_icon_inventory_delete
    { background-image: url("../bundles/pro3xapp/database_delete.png"); } 

    
/* * * SECURITY * * */
    
.pro3x_small_icon_auth
    { background-image: url("../bundles/pro3xapp/small/authentication.png"); }   

.pro3x_small_icon_authorization
    { background-image: url("../bundles/pro3xapp/small/authorization.png"); }   
    
.pro3x_small_icon_dashboard
    { background-image: url("../bundles/pro3xapp/small/dashboard.png"); }   
    
.pro3x_small_icon_users
    { background-image: url("../bundles/pro3xapp/small/user.png"); }

.pro3x_small_icon_user_add
    { background-image: url("../bundles/pro3xapp/small/user_add.png"); }

.pro3x_small_icon_user_edit
    { background-image: url("../bundles/pro3xapp/small/user_edit.png"); }

.pro3x_small_icon_group
    { background-image: url("../bundles/pro3xapp/small/group.png"); }

.pro3x_small_icon_group_add
    { background-image: url("../bundles/pro3xapp/small/group_add.png"); }
    
.pro3x_small_icon_group_edit
    { background-image: url("../bundles/pro3xapp/small/group_edit.png"); }

a.ui-state-default:link
    { color: #2e6e9e; }
    
a.ui-state-hover:hover
    { color: #1d5987; }
    
a.ui-state-active:hover
    { color: #e17009; }