@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@import url("grid.css");

body 
    { font-size: 75%; font-family: 'Ubuntu', sans-serif; padding: 0px 0px 100px 0px; margin: 0px; }
    
:focus
    { outline-color: #449adc; }
    
a:focus
    { outline: none; }    
    
.pro3x_buttons
    { text-align: right; }
    
.pro3x_table_buttons
    { text-align: left; }

.pro3x_form_content > div, form > div > div
    { margin-bottom: .5em; }

.pro3x_form_content > div > label, form > div > div > label
    { display: inline-block; width: 12em; vertical-align: top; padding-top: 0.75em; }
    
form > div > div select
    { padding: 0.5em; margin-left: 0px; width: 31.5em; }
    
form label + ul
    { display: inline-block; color: red; }
   
form label + ul + input
    { margin-left: 12em; }

input[type=text], input[type=password], input[type=email], textarea
    { padding: 0.5em; width: 30.2em; border: 2px inset; }
    
textarea
    { height: 10em; }

.pro3x_checkbox_list
    { padding: 0.25em; width: 30.2em; display: inline-block; }
    
.pro3x_checkbox_list label
    { width: 28em; display: inline-block; }
    
.pro3x_checkbox_list input
    { margin: 0.5em 0.75em 0.5em 0em; position: relative; top: 1px; }
    
.pro3x_page_title
    { padding-left: 0.67em; font-weight: normal; }
    
.pro3x_page_title_box
    { margin-bottom: 2em; }
    
.pro3x_header
    { background-color: black; border-bottom: solid 5px #449adc; box-shadow: 0px 0px 0px gray; color: #efefef; }
    
.pro3x_header_content
    { border-bottom: solid 1px #f2f2f2; padding: 0.75em 1em 0.75em 1em; }
    
.pro3x_header a
    { color: white; text-decoration: none; }
    
.pro3x_buttons .pro3x_info
    { float: left; margin-top: 0.5em; margin-bottom: 0em; }
    
table.pro3x th, table.pro3x td
    { padding: 0.5em 1em; vertical-align: top; }
    
h1
    { margin-top: 1.5em; margin-bottom: 0.5em; }
    
.ui-widget-content a, a
    { color: #449adc; text-decoration: none; }
  
.ui-widget-content a:hover, a:hover
    { color: #99cc00; }
    
.ui-widget-content
    { padding: 2px; }

table.ui-widget-content
    { padding: 1px; }

td.pro3x_tools a, .pro3x_delete_invoice_item
    { display: inline-block; margin: 0 0.25em; font-weight: bold; }
    
.pro3x_delete_invoice_item
    { float: right; margin-top: 2px; display: none; }
    
tr:hover .pro3x_delete_invoice_item
    { display: inline-block; }
    
table.pro3x tr:hover
    { background-color: #e0effc; }
    
#actionCode.ajax
    { background-position: 15em 0.53em;  }

table.pro3x
    { border-spacing: 1px; width: 100%; }
    
/* * * PAGER * * */  
  
.pro3x_pager
    { margin-top: 1em; display: inline-block; text-align: left; }
    
.pro3x_pager a
    { display: inline-block; margin: 0 0.1em; width: 16px; height: 16px; text-align: center; }

.pro3x_pager > span.pro3x_pager_previous, .pro3x_pager > span.pro3x_pager_next, .pro3x_pager > div.pro3x_pager_scroll
    { float: left; margin: 0 0.1em; position: relative; top: 3px; }
    
.pro3x_pager > span
    { cursor: pointer; }
    
.pro3x_current_page, .pro3x_current_page:hover
    { font-weight: bold; color: #222222; cursor: default; }
    
.pro3x_pager_scroll
    { float: left; overflow: hidden; width: 18em; border-left: solid 1px #449adc; border-right: solid 1px #449adc; }
    
.pro3x_pager_items
    { overflow: visible; white-space: nowrap; display: inline-block; }
    
/* * * DIALOG * * */

.pro3x_dialog
    { display: none; }
    
table.pro3x td.pro3x_no_data
    { padding: 2em; text-align: center; }
    
/* * * DASHBOARD * * */

.pro3x_dashboard_panel
    { padding: 0.0em 0.5em 0.5em 0.0em; }
    
.pro3x_dashboard_panel_box
    { padding: 1px; margin-bottom: 2em; }
    
.pro3x_dashboard_panel_header
    { padding: 0.5em 0.75em; margin: 1px 1px 0px 1px; }
    
.pro3x_dashboard_panel .button
    { display: inline-block; width: 128px; margin: 0.5em 0.0em 0.0em 0.5em; }
  
.pro3x_icon
    { display: block; width: 64px; height: 64px; margin: 1em auto 1em auto; }
    
.pro3x_dialog .pro3x_icon
    { float: left; margin-right: 1.5em; margin-left: 0.5em; }
    
.pro3x_dialog .pro3x_message
    { padding: 1em 0em; }
    
.pro3x_message
    { cursor: pointer; }
  
.pro3x_icon_users
    { background-image: url("../bundles/pro3xapp/user.png"); }
    
.pro3x_icon_groups
    { background-image: url("../bundles/pro3xapp/group.png"); }
    
.pro3x_icon_user_add
    { background-image: url("../bundles/pro3xapp/user_add.png"); }

.pro3x_icon_user_delete
    { background-image: url("../bundles/pro3xapp/user_delete.png"); }

.pro3x_icon_group_add
    { background-image: url("../bundles/pro3xapp/group_add.png"); }    

.pro3x_icon_group_delete
    { background-image: url("../bundles/pro3xapp/group_delete.png"); }    
    
.pro3x_header ul
    { float: right; list-style: none; margin: 0em 0em 0em 0em; }

.pro3x_header ul li
    { float: left; margin: 0em 0em 0em 1em; }

.pro3x_small_icon
    { display: inline-block; width: 32px; height: 32px; vertical-align: text-bottom; margin: 0em 0.5em; }
    
/* * * TAX RATES * * */

.pro3x_icon_tax
    { background-image: url("../bundles/pro3xapp/briefcase.png"); } 

.pro3x_small_icon_tax
    { background-image: url("../bundles/pro3xapp/small/briefcase.png"); } 
    
.pro3x_invoice_total
    { text-align: right; padding-right: 10px; font-size: 2em; }
    
.pro3x_unit
    { display: inline-block; width: 30px; }
    

/* * * CLIENTS * * */

.pro3x_icon_client
    { background-image: url("../bundles/pro3xapp/client.png"); } 

.pro3x_icon_client_add
    { background-image: url("../bundles/pro3xapp/client_add.png"); } 

.pro3x_icon_client_delete
    { background-image: url("../bundles/pro3xapp/client_delete.png"); } 
    
.pro3x_small_icon_client
    { background-image: url("../bundles/pro3xapp/small/client.png"); } 

.pro3x_small_icon_client_add
    { background-image: url("../bundles/pro3xapp/small/client_add.png"); } 
    
.pro3x_small_icon_client_edit
    { background-image: url("../bundles/pro3xapp/small/client_edit.png"); } 

.pro3x_small_icon_client_delete
    { background-image: url("../bundles/pro3xapp/small/client_delete.png"); } 

.pro3x_small_icon_client_search
    { background-image: url("../bundles/pro3xapp/small/client_search.png"); } 

    
/* * * INVENTORY * * */

.pro3x_icon_inventory
    { background-image: url("../bundles/pro3xapp/database.png"); } 

.pro3x_icon_inventory_add
    { background-image: url("../bundles/pro3xapp/database_add.png"); }  

.pro3x_icon_inventory_delete
    { background-image: url("../bundles/pro3xapp/database_delete.png"); } 

.pro3x_small_icon_inventory
    { background-image: url("../bundles/pro3xapp/small/database.png"); }
    
.pro3x_small_icon_inventory_add
    { background-image: url("../bundles/pro3xapp/small/database_add.png"); }

.pro3x_small_icon_inventory_edit
    { background-image: url("../bundles/pro3xapp/small/database_edit.png"); }
    
/* * * reports * * */

.pro3x_icon_report
    { background-image: url("../bundles/pro3xapp/chart.png"); } 
    
.pro3x_small_icon_report
    { background-image: url("../bundles/pro3xapp/small/chart.png"); }
    
.pro3x_small_icon_info
    { background-image: url("../bundles/pro3xapp/chart_info.png"); }

    
/* * * location * * */

.pro3x_icon_location
    { background-image: url("../bundles/pro3xapp/map.png"); } 

.pro3x_icon_location_add
    { background-image: url("../bundles/pro3xapp/map_add.png"); }  

.pro3x_icon_location_delete
    { background-image: url("../bundles/pro3xapp/map_delete.png"); } 

.pro3x_small_icon_location
    { background-image: url("../bundles/pro3xapp/small/map.png"); }
    
.pro3x_small_icon_location_add
    { background-image: url("../bundles/pro3xapp/small/map_add.png"); }

.pro3x_small_icon_location_edit
    { background-image: url("../bundles/pro3xapp/small/map_edit.png"); }
    
    
/* * * pos * * */

.pro3x_icon_position
    { background-image: url("../bundles/pro3xapp/computer.png"); } 

.pro3x_icon_position_add
    { background-image: url("../bundles/pro3xapp/computer_add.png"); }  

.pro3x_icon_position_delete
    { background-image: url("../bundles/pro3xapp/computer_delete.png"); } 

.pro3x_small_icon_position
    { background-image: url("../bundles/pro3xapp/small/computer.png"); }
    
.pro3x_small_icon_position_add
    { background-image: url("../bundles/pro3xapp/small/computer_add.png"); }

.pro3x_small_icon_position_edit
    { background-image: url("../bundles/pro3xapp/small/computer_edit.png"); }
    
/* * * template * * */

.pro3x_icon_template
    { background-image: url("../bundles/pro3xapp/design.png"); } 

.pro3x_icon_template_add
    { background-image: url("../bundles/pro3xapp/design_add.png"); }  

.pro3x_icon_template_delete
    { background-image: url("../bundles/pro3xapp/design_delete.png"); } 

.pro3x_small_icon_template
    { background-image: url("../bundles/pro3xapp/small/design.png"); }
    
.pro3x_small_icon_template_add
    { background-image: url("../bundles/pro3xapp/small/design_add.png"); }

.pro3x_small_icon_template_edit
    { background-image: url("../bundles/pro3xapp/small/design_edit.png"); }
    
/* * * invoice * * */

.pro3x_icon_invoice
    { background-image: url("../bundles/pro3xapp/invoice.png"); } 

.pro3x_icon_invoice_add
    { background-image: url("../bundles/pro3xapp/invoice_add.png"); }  

.pro3x_icon_invoice_delete
    { background-image: url("../bundles/pro3xapp/invoice_delete.png"); } 

.pro3x_small_icon_invoice
    { background-image: url("../bundles/pro3xapp/small/invoice.png"); }
    
.pro3x_small_icon_invoice_add
    { background-image: url("../bundles/pro3xapp/small/invoice_add.png"); }

.pro3x_small_icon_invoice_edit
    { background-image: url("../bundles/pro3xapp/small/invoice_edit.png"); }
    
/* * * SECURITY * * */
    
.pro3x_small_icon_auth
    { background-image: url("../bundles/pro3xapp/small/authentication.png"); }   

.pro3x_small_icon_authorization
    { background-image: url("../bundles/pro3xapp/small/authorization.png"); }   
    
.pro3x_small_icon_dashboard
    { background-image: url("../bundles/pro3xapp/small/dashboard.png"); }   
    
.pro3x_small_icon_users
    { background-image: url("../bundles/pro3xapp/small/user.png"); }

.pro3x_small_icon_user_add
    { background-image: url("../bundles/pro3xapp/small/user_add.png"); }

.pro3x_small_icon_user_edit
    { background-image: url("../bundles/pro3xapp/small/user_edit.png"); }

.pro3x_small_icon_group
    { background-image: url("../bundles/pro3xapp/small/group.png"); }

.pro3x_small_icon_group_add
    { background-image: url("../bundles/pro3xapp/small/group_add.png"); }
    
.pro3x_small_icon_group_edit
    { background-image: url("../bundles/pro3xapp/small/group_edit.png"); }

a.ui-state-default:link
    { color: #2e6e9e; }
    
a.ui-state-hover:hover
    { color: #1d5987; }
    
a.ui-state-active:hover
    { color: #e17009; }
    
/* * * DIALOGS * * */

.ui-dialog .ui-dialog-buttonpane
    { padding: .65em .5em .5em .5em }

.ui-dialog .ui-dialog-buttonpane button
    { margin: 0em 0.0em 0em 0.5em; }
    
.ui-button .ui-button-text
    { line-height: 1.2em; }
    
.ui-button
    { line-height: 16px; }
    
.ajax
    { background-image: url(../bundles/pro3xapp/commands/ajax-loader.gif); background-position: 29.25em 0.75em; background-repeat: no-repeat;  }

.pro3x_ajax
    { background-image: url(../bundles/pro3xapp/commands/ajax-loader.gif); display: inline-block; width: 16px; height: 11px; float: right; margin-top: 0.25em; }
    
input[type="text"].pro3x_query
    { width: 54.6em; }
    
.pro3x_no_selection
    { background: #efefef; }
    
a.ui-state-focus
    { color: #1D5987 !important; }