@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@import url("grid.css");

body 
    { font-size: 75%; font-family: 'Ubuntu', sans-serif; padding: 0px; margin: 0px; }

:focus 
    { outline: 0; }

.pro3x_buttons
    { text-align: right; }

.pro3x_form_content > div
    { margin-bottom: .5em; }

.pro3x_form_content > div > label
    { display: inline-block; width: 12em; }

input[type=text], input[type=password], input[type=email]
    { padding: 0.5em; width: 30.3em; }

.pro3x_page_title
    { padding-left: 0.67em; font-weight: normal; }
    
.pro3x_page_title_box
    { margin-bottom: 2em; }
    
.pro3x_header
    { background-color: black; padding: 0.5em 0.5em 0.5em 16px; }
    
.pro3x_header a
    { color: white; text-decoration: none; }
    
.pro3x_header a:hover
    { color: #E17009; }
    
.pro3x_buttons .pro3x_info
    { float: left; margin-top: 0.5em; }
