{% extends '::base.html.twig' %}

{% block page_title %}
    Login or <a href="{{ path("register") }}">Register</a>
{% endblock %}

{% block body %}
    <div class="grid_8 push_2 pro3x_login_page">
	
	{% if error %}
	    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em; margin-bottom: 2em;">
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>{{ error.message }}</p>
	    </div>
	{% endif %}
	    
	<div class="pro3x_tabs">
	    <ul>
		<li><a href="#login">Login</a></li>
	    </ul>
	    <div id="login">
		<form class="pro3x_login" action="{{ path("_security_check") }}" method="post" id="login">
		    <div class="pro3x_form_content">
			<div>
			    <label for="username">Username</label><input type="text" id="username" name="_username" value="{{ last_username }}" />
			</div>

			<div>
			    <label for="password">Password</label><input type="password" id="password" name="_password" />
			</div>
		    </div>
		    <div class="pro3x_buttons">
			<div class="pro3x_info"><a href="#">Lost password?</a></div>
			<input type="submit" class="button" value="Login" />
			<div class="clear"></div>
		    </div>
		</form>
	    </div>
	</div>

	
    </div>
{% endblock %}