.pro3x-main-menu
    { margin-bottom: 0px; }
    
.pro3x-icon
    { display: block; width: 64px; height: 64px; margin: 1em auto 1em auto; }    
        
.pro3x-small-icon
    { display: inline-block; width: 32px; height: 32px; vertical-align: text-bottom; margin: 0em 0.5em; }
    
.pro3x-small-icon-invoice-add
    { background-image: url("../bundles/pro3xapp/small/invoice_add.png"); }
    
a:hover
    { text-decoration: none; }
    
.pro3x-dashboard-panel a.button
    { display: block; padding: 15px; background-color: #efefef; margin: 0px 0px; border-radius: 0px; }
    
.pro3x-dashboard-panel a.button:hover
    { background-color: #d9edf7; }
    
.pro3x-dashboard-panel a.button img
    { margin-right: 10px; }
    
.pro3x-dashboard-panel .col-md-3
    { padding: 2px; }
    
.pro3x-title img
    { margin-right: 10px; position: relative; bottom: 3px; }
    
h1.pro3x-title
    { padding-left: 15px; margin-top: 30px; }
    
.pro3x-table-panel
    { margin-bottom: 0px; }
    
.pro3x-table-buttons .btn, .pro3x-medium-button, .pro3x-buttons .btn
    { width: 100px; }
    
.pro3x-pagination
    { margin: 0.6em 0; }
    
.pro3x-tools a
    { display: inline-block; margin-right: 10px; }
    
.pro3x-dialog img
    { float: left; margin-right: 10px; }
    
.pro3x-panel-form
    { padding-bottom: 0px; }
    
.pro3x-panel-form label.control-label
    { text-align: left; }
    
.pro3x-buttons
    { margin-top: -10px; margin-bottom: 30px; }
    
tbody.pro3x_invoice_items .pro3x_delete_invoice_item
    { float: right; }
    
.ajax
    { background-image: url("icons/ajax-loader.gif"); background-position: right 15px top 11px; background-repeat: no-repeat; padding-right: 35px;  }

.pro3x-ajax
    { background-image: url("icons/ajax-loader.gif"); display: inline-block; 
      width: 16px; height: 11px; float: right; margin-top: 0.25em; margin-right: 9px; }
    
.pro3x-invoice-index td.active
    { padding-left: 15px; padding-right: 15px; }
    
.panel-footer span.pro3x-ajax
    { float: none; }
    
table.pro3x-no-borders > tbody > tr > td
    { border-top: none; }
    
@media print {
    .pro3x-ui
        { display: none; }
        
    .pro3x-print
        { display: block; position: absolute; }    
        
    .sf-toolbarreset
        { display: none; }
        
    @page {
        margin: 10mm 10mm 10mm 10mm;
        size: A4 portrait;
    }
    
    .pro3x-page
        { width: 190mm; height: 277mm; background-color: red!important; border: solid .5mm black; page-break-after: always; }
        
    .pro3x-last-page
        { background-color: green !important; page-break-after: avoid; }

    .pro3x-top-left, .pro3x-top-right, .pro3x-bottom-left, .pro3x-bottom-right 
        { border: solid .5mm green; position: absolute; width: 10mm; height: 10mm; }

    .pro3x-top-left
        { top: 0mm; left: 0mm; }

    .pro3x-top-right
        { top: 0mm; right: 0mm; }

    .pro3x-bottom-left
        { bottom: 0mm; left: 0mm; }

    .pro3x-bottom-right
        { bottom: 0mm; right: 0mm; }
}



@media screen {
    .pro3x-ui
        { display: block; }
        
    .pro3x-print
        { display: none; }
}

    