@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);

.pro3x-main-menu
    { margin-bottom: 0px; }
    
.pro3x-icon
    { display: block; width: 64px; height: 64px; margin: 1em auto 1em auto; }    
        
.pro3x-small-icon
    { display: inline-block; width: 32px; height: 32px; vertical-align: text-bottom; margin: 0em 0.5em; }
    
.pro3x-small-icon-invoice-add
    { background-image: url("../bundles/pro3xapp/small/invoice_add.png"); }
    
a:hover
    { text-decoration: none; }
    
.pro3x-dashboard-panel a.button
    { display: block; padding: 15px; background-color: #efefef; margin: 0px 0px; border-radius: 0px; }
    
.pro3x-dashboard-panel a.button:hover
    { background-color: #d9edf7; }
    
.pro3x-dashboard-panel a.button img
    { margin-right: 10px; }
    
.pro3x-dashboard-panel .col-md-3
    { padding: 2px; }
    
.pro3x-title img
    { margin-right: 10px; position: relative; bottom: 3px; }
    
h1.pro3x-title
    { padding-left: 15px; margin-top: 30px; }
    
.pro3x-table-panel
    { margin-bottom: 0px; }
    
.pro3x-table-buttons .btn, .pro3x-medium-button, .pro3x-buttons .btn
    { width: 100px; }
    
.pro3x-pagination
    { margin: 0.6em 0; }
    
.pro3x-tools a
    { display: inline-block; margin-right: 10px; }
    
.pro3x-dialog img
    { float: left; margin-right: 10px; }
    
.pro3x-panel-form
    { padding-bottom: 0px; }
    
.pro3x-panel-form label.control-label
    { text-align: left; }
    
.pro3x-buttons
    { margin-top: -10px; margin-bottom: 30px; }
    
tbody.pro3x_invoice_items .pro3x_delete_invoice_item
    { float: right; }
    
.ajax
    { background-image: url("icons/ajax-loader.gif"); background-position: right 15px top 11px; background-repeat: no-repeat; padding-right: 35px;  }

.pro3x-ajax
    { background-image: url("icons/ajax-loader.gif"); display: inline-block; 
      width: 16px; height: 11px; float: right; margin-top: 0.25em; margin-right: 9px; }
    
.pro3x-invoice-index td.active
    { padding-left: 15px; padding-right: 15px; }
    
.panel-footer span.pro3x-ajax
    { float: none; }
    
table.pro3x-no-borders > tbody > tr > td
    { border-top: none; }
    
textarea.form-control
    { height: 125px; }
    
.pro3x-readonly-document .pro3x-document-action   
    { display: none; }
    
.pro3x-readonly-show
    { display: none; }
    
.pro3x-document
    { margin: 0mm auto 0mm auto; width: 210mm; background-color: white; min-height: 292mm; }
    
.pro3x-document h1.pro3x
    { padding: 5mm 10mm; margin: 0mm; position: relative; }   
    
.pro3x-document .pro3x-name
    { display: inline-block; width: 25mm; font-weight: bold; /* background-color: #74ba40 !important; color: white !important; */
      padding: 0.25mm 0mm; margin-right: 2mm; margin-bottom: 0mm; }    

.pro3x-document-info
    { background-color: rgb(249, 249, 249) !important; padding: 4.5mm 5mm; width: 200mm; margin-left: 5mm; }
    
.pro3x-document .table > tbody > tr > td, .pro3x-document .table > thead > tr > th
    { padding: 2mm 5mm; font-size: 12px; }    
    
.pro3x-report-title
    { display: inline-block; width: 160mm; }
    
.pro3x-report-subtitle    
    { display: inline-block; width: 30mm; text-align: right; }
        
@media print {
    .pro3x-ui
        { display: none; }
        
    .pro3x-print
        { display: block; position: absolute; font-family: 'Open Sans', sans-serif; font-size: 12px; }    
        
    .sf-toolbarreset
        { display: none; }
        
    @page {
        margin: 0mm;
        size: A4 portrait;
    }
    
    .pro3x-page
        { position: absolute; width: 210mm; height: 297mm; page-break-after: always; top: 0; left: 0; }
        
    .pro3x-page .pro3x-name
        { display: inline-block; width: 25mm; font-weight: bold; /* background-color: #74ba40 !important; color: white !important; */
          padding: 0.25mm 0mm; margin-right: 2mm; margin-bottom: 0mm; }
        
    .pro3x-due-date
        { font-size: 14px; text-align: right; }
        
    .pro3x-footer
        { position: absolute; bottom: 5mm; padding: 5mm; width: 200mm; 
          margin-left: 5mm; text-align: center; font-size: 10px; }
        
    h1.pro3x
        { padding: 5mm 10mm; margin: 0mm; position: relative; }
        
    .pro3x-due-date strong
        { display: inline-block; margin-right: 2mm; }
        
    .pro3x-customer
        { float: left; width: 20mm; height: 116px; padding: 1mm 2mm; /* background-color: #74ba40 !important; font-weight: bold; */
          color: white !important; }
        
    .pro3x-last-page
        { background-color: green !important; page-break-after: avoid; }

    .pro3x-top-left, .pro3x-top-right, .pro3x-bottom-left, .pro3x-bottom-right 
        { border: solid .5mm green; position: absolute; width: 10mm; height: 10mm; }

    .pro3x-top-left
        { top: 0mm; left: 0mm; }

    .pro3x-top-right
        { top: 0mm; right: 0mm; }

    .pro3x-bottom-left
        { bottom: 0mm; left: 0mm; }

    .pro3x-bottom-right
        { bottom: 0mm; right: 0mm; }
        
    div.pro3x-page:last-child
        { page-break-after: avoid; }
        
    .pro3x-index
        { display: inline-block; width: 5mm; text-align: right; margin-right: 2mm; }
        
    .table > tbody > tr > td, .table > thead > tr > th
        { padding: 2mm 5mm; font-size: 12px; }
        
    table.pro3x td, table.pro3x th
        { padding: 1mm 2mm; border-spacing: 0px; font-size: 12px; }
        
    table.pro3x
        { margin-left: 10mm; margin-top: 5mm; }
}

@media screen {
    
    .pro3x-report .pro3x-print
        { display: block; overflow-x: auto; }
    
    .pro3x-ui
        { display: block; }
        
    .pro3x-print
        { display: none; }
        
    .pro3x-report
        { background-color: #efefef; }
        
    .pro3x-document
        { box-shadow: 0px 0px 5px 0px #dedede; margin: 10px auto; padding-bottom: 5mm; }
        
    .pro3x-footer
        { padding: 5mm; width: 200mm; margin-left: 5mm; text-align: center; font-size: 10px; }
}

/* * * REPORTS * * */

.report-content .report-item
{
    background-color:#efefef!important;
    border-bottom:solid 1px #fff;
}

.report-template
{
    width:210mm;
    margin:50px auto;
    display: none;
}

.report .report-page-footer
{
    position:absolute;
    width:200mm;
}

.report
{
    background-color:#efefef;
}

.report .page
{
    background-color:#fff;
    width:210mm;
    position: relative;
    margin:0;
}

.report-page-footer,.report-page-header
{
}

.report-content-footer,.report-content-header
{
}

@media print 
{    
    @page
    {
        size:A4 portrait;
        margin:0;
    }

    .report .page
    {
        page-break-after: always;
        page-break-inside: avoid;
        height: 292mm;
        margin:0;
    }

    .report-template
    {
        display:none;
    }

    .report .report-page-footer
    {
        position: absolute;
        bottom: 0mm;
    }

    .report-last-page
    {
        page-break-after: avoid;
    }
}

@media screen 
{
    .report .page
    {
        box-shadow:0 0 5px 0 gray;
        height:297mm;
        padding-bottom: 5mm;
        margin:10px auto;
    }

    .report .report-page-footer
    {
        bottom:5mm;
    }

    .report
    {
        padding: 0mm;
    }
}
    